@mixin main-content() {
	position   : relative;
	padding    : 10px 20px;
	width      : 100%;

	text-align : left;
}

@mixin description() {
	padding: 20px;

	background-color: $bgDescription;
	box-shadow: $shadowDescription;
	color: $darkerGray;
	font-family: "Times New Roman", serif;
	font-size: 16px;

	&__row {
		margin: 0 -20px;
		padding: 20px;
		text-align: center;

		&:nth-of-type(even) {
			background-color: $white;
		}
	}

	&__bottom {
		margin: {
			right: -20px;
			bottom: -20px;
			left: -20px;
		};
		padding: 30px 20px;
		background-color: $lightestGray;
	}

	&__title {
		margin: {
			top: 40px;
			bottom: 25px;
		}

		text-align: left;
		font-size: 20px;
		font-weight: 700;
	}

	&__text {
		margin: 15px 0;
		text-align: left;
	}
}

@mixin figure($prefix: '', $figMargin: 25px 0, $imgH: 300px, $imgW: 400px, $capMargin: 22px 0 0 0) {

	#{$prefix}.figure {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: $figMargin;

		.figure {
			&__img {
				height: $imgH;
				width: $imgW;
			}

			&__caption {
				margin: $capMargin;
				width: 100%;
			}
		}
	}
}
