@import "./src/scss/utils/variables";
@import "./src/scss/utils/functions";
@import "./src/scss/utils/mixins";

.bz-page {
	@include main-content();
	padding-top: 28px;

	.bz-description {
		@include description();
	}

	.bz-list {
		text-align: left;

		&__item {
			padding: 5px 0;
		}
	}
}
