@import "./src/scss/utils/variables";
@import "./src/scss/utils/functions";
@import "./src/scss/utils/mixins";

.bz-page {
	@include main-content();

	.bz-description {
		@include description();

		&__bottom {
			margin-top: 20px;
		}
	}

	.bz-departments {
		text-align: left;

		&__item {

			&:not(:nth-of-type(1)) {
				margin-top: 24px;
				padding-top: 24px;
				border-top: 1px solid $lightestGray;
			}
		}
	}

	.bz-department {
		&__label {
			font-weight: 700;
		}
	}

	.bz-contacts {

		&__item,
		&__email {
			margin-top: 10px;
		}
	}
}
