@import "./src/scss/utils/variables";
@import "./src/scss/utils/mixins";

.page {
	@include main-content();
	padding-top:28px;

	.description {
		@include description();

		font-size: 18px;

		&__title {
			margin: {
				top: 5px;
				bottom: 38px;
			}
			font-size: 24px;
		}

		&__imgs {
			display: inline-block;
			margin: {
				top: 38px;
				bottom: 38px;
			}
			width: 100%;
			:nth-of-type(1){
				width: 185px;
			}
			:nth-of-type(2),
			:nth-of-type(3) {
				width: 333px;
			}
		}

		&__img {
			display: block;
			float: left;
			margin-right: 20px;
			height: 250px;
			border: 1px solid #aaaaaa;
		}

		&__address {
			padding: {
				top: 45px;
				bottom: 15px;
			}
		}
	}

	.advantages {
		&__item {
			padding: 5px 0px;
		}
	}

	.overhaul {

		&__label {
			margin-bottom: 20px;
		}

		&__list {
			padding-left: 20px;
		}

		&__item {
			margin-top: 7px;
		}
	}

	.work-blocks {
		display: flex;
		justify-content: center;

		margin: {
			top: 60px;
			bottom: 60px;
		}

		font-size: 21px;

		&__item {
			margin-left: 110px;
			padding: 3px 10px;

			border: 2px solid rgb(39, 88, 162);

			&:nth-of-type(1){
				margin-left: 0;
			}
		}
	}

	.progress {
		margin-bottom: 60px;
		font-size: 20px;
		&__item {
			padding: {
				top: 5px;
				bottom: 16px;
			}
			text-align: center;
		}
	}

	.site-map {
		text-align: center;

		&__title {
			font-size: 22px;
			font-weight: bold;
		}
	}
}
