@import "./src/scss/utils/variables";
@import "./src/scss/utils/functions";
@import "./src/scss/utils/mixins";

.bz-page {
    @include main-content();

    .bz-description {
        @include description();
    }

    .bz-map-level-0,
    .bz-map-level-1,
    .bz-map-level-2 {
        text-align: left;
        li {
            margin-top: 4px;
        }
    }

    .bz-map-level-1,
    .bz-map-level-2 {
        padding-left: 30px;
    }
}
