@import "./src/scss/utils/variables";
@import "./src/scss/utils/mixins";

.page {
    @include main-content();

    .description {
        @include description();
    }

    .map-level-0,
    .map-level-1,
    .map-level-2 {
        text-align: left;
        li {
            margin-top: 4px;
        }
    }

    .map-level-1,
    .map-level-2 {
        padding-left: 30px;
    }
}
