.bz-breadcrumbs {
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
    padding: 0 20px;

    // Размер шрифта и строки зафиксирован
    font-size: 15px;
    line-height: 18px;

    &__link {
        text-decoration: underline;
    }

    &__separator {
        margin: {
            right: 5px;
            left: 5px;
        }

        color : $blue;
    }
}
