.footer {
	position: relative;
	padding-top: 22px;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 168px;
		height: 106px;
		background: url("../images/layout/footer_shest.gif") bottom right no-repeat;
	}

	&__inner {
		height: 46px;
		background: #cccccc url("../images/layout/footer_bgr.jpg") 0 -11px no-repeat;
	}
}
