.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 215px;

    background: url(../images/layout/header_bg.jpg) bottom left no-repeat;

    &::before {
        content: '';
        position: absolute;
        bottom: 11px;
        left:0;
        z-index: -1;
        width: 100%;
        height: 53px;

        background: #010101;
    }

    &__links {
        flex-grow: 0;

        position: relative;
        padding-bottom: 11px;
        width: 150px;

        background: url(../images/layout/top_shest.gif) top left no-repeat;
    }

    &__list.link-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        position: absolute;
        top: 120px;
        left: 25px;
        width: 56px;

        .link-list {

            &__item {
                width: 12px;
                height: 10px;

                background-color: $bgHeaderLinkList;
            }

            &__home,
            &__contacts,
            &__sitemap {
                display: block;
                width: 100%;
                height: 100%;
            }

            &__home {
                background: url(../images/layout/icons/home.gif) 0px 0px no-repeat;
            }

            &__contacts {
                background: url(../images/layout/icons/mail.gif) 0px 0px no-repeat;
            }

            &__sitemap {
                background: url(../images/layout/icons/sitemap.gif) 0px 0px no-repeat;
            }
        }
    }

    &__contacts {
        flex-grow: 0;

        padding-bottom: 11px;
        width: 315px;
    }

    &__brend {
        display: block;
        margin-top: 25px;
        width: 315px;
        height: 61px;
    }

    &__address.dtl {
        display: flex;
        flex-wrap: nowrap;

        margin-top: -2px;

        // Размер шрифта и строки зафиксирован
        font-size: 11px;
        line-height: 20px;

        .dtl {
            &__l {
                margin-right: 4px;
                font-weight: 700;
            }
        }
    }

    &__email {
        display: block;
        margin-top: -4px;
    }

    &__email-link {
        // Размер шрифта и строки зафиксирован
        font-size: 11px;
        line-height: 20px;
    }

	&__info {
        flex-grow: 1;

        padding-bottom: 11px;
        width: 391px;
        height: 100%;

        background: url(../images/layout/header-rekuperator.gif) bottom right no-repeat;
        background-origin: content-box;
    }
}
