.sidebar {
	margin-top: 60px;
	width: 100%;
	text-align: left;
	font-size: 13px;

	&__menu.page-list {
		position: relative;

		.page-list {
			
			&__item {
				margin-top: 2px;
				padding: 0 10px;
			}

			&__block-link {
				position: relative;

				&--level1 {
					.page-list__link {

						&::before {
							content: '';
							display: none;
							position: absolute;
							top: 0;
							left: 0;
							height: 15px;
							width: 10px;
							background: url(../images/layout/icons/marker.gif) 0px 3px no-repeat;
						}

						&._active {
							&::before {
								display: block;
							}
						}
					}
				}
			}

			&__link {
				display: block;
				margin-left: 14px;
				font-size: 12px;

				&._active {
					font-weight: bold;
				}
			}
		}
	}

	&__info {
		padding: 20px;
	}

	&__info-recuperator.recuperator {
		margin-top: 20px;
	}

	&__info-memder.member {
		margin-top: 40px;
		padding-left: 23px;
	}
}
