@import "./src/scss/utils/variables";
@import "./src/scss/utils/functions";
@import "./src/scss/utils/mixins";

.bz-page {
	@include main-content();

	.bz-description {
		@include description();
	}

	.bz-bnrc {
		display: inline-block;
		margin-bottom: 35px;

		&__img {
			height: 550px;
			width: 800px;
		}
	}

	.bz-additional-material {

		margin: {
			top: 15px;
			bottom: 15px;
		}

		text-align: left;

		&__label {
			margin-bottom: 16px;
		}

		&__value {
			padding-left: 20px;
		}
	}
}
