@import "./src/scss/utils/variables";
@import "./src/scss/utils/mixins";

.page {
	@include main-content();

	.description {
		@include description();
	}

	.checklist {
		display: flex;
		justify-content: center;

		&__form {
			width: 800px;
		}

		&__title,
		&__download {
			width: 100%;

			text-align: center;
		}

		&__title {
			margin-top: 40px;

			font-size: 20px;
			font-weight: 700;
		}

		&__download {
			margin-bottom: 40px;
		}
	}

	.params {
		width: 100%;

		&__item {
			display: flex;
			flex-wrap: wrap;

			margin-top: 20px;
			width: 100%;
		}

		&__subtitle,
		&__sublist {
			width: 100%;
		}

		&__label {
			padding-right: 20px;
			width: 50%;
		}

		&__field {
			width: 50%;


			textarea,
			select,
			input {
				width: 100%;

				//&:required:invalid {
				&:invalid {
					border: 1px solid $red;
				}
			}
		}

		.starrequired {
			color: $red;
		}
	}
}
