@import "./src/scss/utils/variables";
@import "./src/scss/utils/mixins";

.page {
	@include main-content();

	.description {
		@include description();
	}

	.checklist {
		display: flex;
		justify-content: center;

		&__form {
			width: 800px;
		}

		&__title,
		&__download {
			width: 100%;

			text-align: center;
		}

		&__title {
			margin-top: 40px;

			font-size: 20px;
			font-weight: 700;
		}

		&__download {
			margin-bottom: 40px;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			margin: {
				top:45px;
				bottom: 35px;
			}
		}
	}

	.params {
		width: 100%;

		&__item {
			display: flex;
			flex-wrap: wrap;

			margin-top: 20px;
			width: 100%;
		}

		&__subtitle,
		&__sublist {
			width: 100%;
		}

		&__label {
			padding-right: 20px;
			width: 50%;
		}

		&__field {
			position: relative;
			width: 50%;

			textarea,
			select,
			input[type="text"] {
				width: 100%;

				background: $white;
				border-radius: 3px;
				border: 1px solid $lightGray;
			}

			select,
			input[type="text"] {
				padding: 4px 10px;
				height: 28px;
			}

			textarea {
				padding: 8px 10px;
				min-width: 100%;
				max-width: 100%;
			}

			label.error {
				position: absolute;
				bottom: 100%;
				left: 50%;
				margin-bottom: 10px;
			    padding: 6px 12px;
			    min-width: 100px;

			    border-radius: 3px;
			    border: 1px solid $brError;
			    background: $bgError;

			    color: $red;
			    white-space: nowrap;
			    transform: translate(-50%, 0);

				&::before {
					content: '';
				    display: block;
				    position: absolute;
					bottom: -5px;
				    width: 0;
				    height: 0;
					left: 50%;

				    border: {
						left: 6px solid transparent;
					    right: 6px solid transparent;
					    top: 6px solid #f4d3d3;
					}
				    transform: translate(-50%, 0);
				}
			}
		}
	}

	.starrequired {
		color: $red;
	}

	.btns {

		&__submit,
		&__reset {
			height:28px;
			padding: 0 12px;

			font-size: 16px;
			cursor: pointer;
		}

		&__submit {
			margin-right: 10px;
		}
	}
}
