@import "./src/scss/utils/variables";
@import "./src/scss/utils/mixins";

.page {
	@include main-content();

	.description {
		@include description();
	}

	.bnrc {
		display: inline-block;

		&__img {
			height: 550px;
			width: 800px;
		}
	}
}
