@import "./src/scss/utils/variables";
@import "./src/scss/utils/mixins";

.page {
	@include main-content();

	.description {
		@include description();
	}

	.bnrc {
		display: inline-block;
		margin-bottom: 35px;

		&__img {
			height: 550px;
			width: 800px;
		}
	}

	.additional-material {
		text-align: left;
		margin-bottom: 40px;

		&__label {
			margin-bottom: 16px;
		}

		&__value {
			padding-left: 20px;
		}
	}
}
