@import "./src/scss/utils/variables";
@import "./src/scss/utils/functions";
@import "./src/scss/utils/mixins";

.bz-page {
	@include main-content();

	.bz-description {
		@include description();
	}

	.bz-detail {

		text-align: left;

		&__label {
			margin-bottom: 16px;
		}

		&__value {
			padding-left: 20px;
		}
	}

	.bz-list {
		&__item {
			margin-top: 7px;
		}
	}
}
