@import "./src/scss/utils/variables";
@import "./src/scss/utils/functions";
@import "./src/scss/utils/mixins";

.bz-page {
	@include main-content();

	.bz-description {
		@include description();

		&__text {
			&:nth-of-type(1) {
				margin-top: 0;
			}
		}
	}

	.bz-list {

		padding-left: 20px;
		
		text-align: left;

		&__item {
			margin-top: 7px;
		}
	}
}
